/* Body properties */

body {
  background: #d3d2d2;
  box-sizing: content-box;
  width: 100%;
  display: inline-grid;
  align-content: center;
}

/* Header styles */

.header {
  /* header background shape-desktop */

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

  /* Neutrals/N0 */

  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 80px;
  background: white;
}

/* Hamburger button */

.nav-elem {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  right: 35px;
  flex-direction: row;
  height: 100%;
  list-style: none;
  gap: 1em;
}

/* Vector */

.portoflio {
  /* Portoflio */

  display: flex;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 20px;

  /* Body / 3 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.portoflio:hover {
  color: blueviolet;
}

/* Vector */

.about1 {
  /* About */

  display: flex;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 20px;

  /* Body / 3 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N600 */

  color: #344563;
}

.about1:hover {
  color: blueviolet;
}

/* Vector */

.contact1 {
  /* Contact */

  display: flex;
  align-items: center;
  text-align: center;
  width: 62px;
  height: 20px;

  /* Body / 3 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N600 */

  color: #344563;
}

.contact1:hover {
  color: blueviolet;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 40px;
  padding-left: 3em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  color: #6070ff;
}

.logo:hover {
  color: blueviolet;
}

.flex-container {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  margin: auto;
}

.my_name {
  display: flex;
  flex-direction: row;
  width: 350px;
  text-align: start;
  flex-wrap: wrap;

  /* Header / 1 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  padding-top: 3em;

  /* or 125% */

  align-items: center;
  letter-spacing: 0.37px;

  /* Theme 1 / Neutrals 1 */

  color: #091e42;
}

.my_details {
  display: flex;
  flex-direction: column;
  width: 750px;
  /* Body / 1 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */

  /* Theme 1 / Neutrals 3 */

  color: #344563;
}

.more_det {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 24px;
  padding-bottom: 8em;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* Primary/B300 */

  color: #7f8cff;
}

.row {
  position: absolute;
  width: 300px;
  height: 150.15px;
  left: -34px;
  top: 50px;
}

/* Ellipse 3 */

.ellipse3 {
  background-image: url("Ellipse3.png");
  position: absolute;
  width: 160px;
  height: 200px;
  left: 845px;
  top: 70px;
}

/* Rectangle 4 */

.Rectangle4 {
  background: #ebebff;
  background-image: url("Rectangle4.png");

  /* Rectangle 4 */

  position: absolute;
  width: 190px;
  height: 47px;
  left: 800px;
  top: 50px;

  /* Theme 1 / Primary Colors 4 */

  transform: rotate(-30deg);
}

/* Ellipse 5 */

.ellipse5 {
  /* Theme 1 / Primary Colors 4 */

  background: #ebebff;
  background-image: url("Ellipse5.png");

  /* Ellipse 5 */

  position: absolute;
  width: 23px;
  height: 23px;
  left: 500px;
  top: 120px;
}

/* Rectangle 7 */

.Rectangle7 {
  background: #6070ff;
  background-image: url("Rectangle7.png");

  /* Rectangle 7 */

  position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 480px;
  top: 110px;

  /* Theme 1 / Primary Colors 2 */

  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
}

/* Ellipse 11 */

.ellipse11 {
  /* Theme 1 / Primary Colors 2 */

  background-image: url("Ellipse11.png");

  /* Ellipse 11 */

  position: absolute;
  width: 80.48px;
  height: 40.24px;
  left: 65.2px;
  top: 90.68px;
  transform: rotate(10.88deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Rectangle 6 */

.Rectangle6 {
  /* Theme 1 / Primary Colors 4 */

  background: #ebebff;
  background-image: url("Rectangle6.png");

  /* Rectangle 6 */

  position: absolute;
  width: 108.67px;
  height: 19.44px;
  left: 35.6px;
  top: 80.92px;
  transform: rotate(-46.14deg);
}

/* Ellipse 4 */

.ellipse4 {
  background: #6070ff;
  background-image: url("Ellipse4.png");
  position: absolute;
  width: 47px;
  height: 47px;
  left: 750px;
  top: 620px;
}

/* Rectangle 5 */

.Rectangle5 {
  background: #ebebff;
  background-image: url("Rectangle5.png");
  position: absolute;
  width: 161.41px;
  height: 28.87px;
  left: 645.44px;
  top: 645px;
  transform: rotate(23.34deg);
}

/* Ellipse 12 */

.ellipse12 {
  background: #6070ff;
  background-image: url("Ellipse12.png");

  /* Ellipse 12 */

  position: absolute;
  width: 36.9px;
  height: 18.45px;
  left: 290.7px;
  top: 650.93px;
  transform: rotate(10.08deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Ellipse 13 */

.ellipse13 {
  background-image: url("Ellipse-13.png");
  position: absolute;
  width: 60px;
  height: 60px;
  left: 260.06px;
  top: 650.37px;

  /* Theme 1 / Primary Colors 4 */

  transform: rotate(0.41deg);
}

.media_div {
  display: flex;
  gap: 10px;
  list-style: none;
}

.media_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

/* Vector */

.twitter {
  position: absolute;
  padding-left: 2em;
  left: 8.4%;
  right: 100.27%;
  top: 38.5em;
  bottom: 18.88%;
}

/* Vector */

.linkedin {
  position: absolute;
  left: 19.74%;
  right: 77.87%;
  top: 39em;
  bottom: 18.87%;
}

/* Vector */

.linked {
  position: absolute;
  left: 18.8%;
  right: 81.87%;
  top: 39em;
  bottom: 18.87%;
}

/* Vector */

.medium {
  position: absolute;
  left: 23.47%;
  right: 67.2%;
  top: 39em;
  bottom: 19.21%;
}

/* Vector */

.github {
  position: absolute;
  left: 28.13%;
  right: 57.07%;
  top: 39em;
  bottom: 18.87%;
}

/* Vector */

.angellist {
  position: absolute;
  left: 32%;
  right: 48.22%;
  top: 39em;
  bottom: 5.87%;
}

.work-section {
  height: 440px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 5em;
  margin-left: 3em;

  /* Neutrals/N0 */

  background: #ffffff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;

  border-radius: 24px;
}

.snap-img {
  /* Snapshoot Portfolio */
  display: flex;
  padding-left: 1em;
  width: 50%;
  height: 85%;
}

.tonic {
  /* Project Title */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: start;
  margin-left: 2em;
}

.de-comp {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 0.05em;
  padding-left: 1em;
  gap: 2em;
}

.conopy {
  /* Text */

  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.back-end {
  /* Text */

  position: static;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 90px;
  height: 16px;
  left: 0.3px;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% 

/* Neutrals/N100 */

  color: #7a869a;

  /* Inside Auto Layout */

  flex: none;
  margin: 0.2px 0.2px;
}

.year-nu {
  /* Text */

  position: static;
  width: 50px;
  height: 16px;
  left: 1px;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside Auto Layout */

  flex: none;
  margin: 1px 3px;
}

.paragraph {
  /* Primary Text */

  display: flex;
  width: 496px;
  height: 50px;
  left: 24px;
  top: 100px;

  /* Body / 2 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.paragraph {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  width: 350px;
}

.butto {
  /* Tags */

  /* Auto Layout */
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  width: 300px;
  height: 24px;
  left: 1px;
  top: 170px;
  /* Inside Auto Layout */

  flex: none;
  order: 1;
  margin: 12px 1px;
  color: #6070ff;
}

.htm {
  /* Tag */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 30px;
  height: 20px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  margin: 1px 8px;
}

.htm:hover {
  color: blueviolet;
}

.css-st {
  /* Tag */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 25px;
  height: 20px;
  left: 62px;
  margin-left: 1em;
  top: 1px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
}

.css-st:hover {
  color: blueviolet;
}

.java-scr {
  /* Tag */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 65px;
  height: 20px;
  margin-left: .5em;
  top: 1px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
}

.java-scr:hover {
  color: blueviolet;
}

.see-proj {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 145px;
  height: 40px;
  left: 38em;
  text-align: center;

  /* Primary/B400 */

  top: 75.5em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  list-style: none;
  color: #396df2;
}

.see-pr {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-content: center;

  /* identical to box height, or 141% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.see-pr:hover {
  color: blueviolet;
}

.work-section1 {
  height: 440px;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 5em;
  margin-left: 3em;

  /* Neutrals/N0 */

  background: #ffffff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;

  border-radius: 24px;
}

.snap-img1 {
/* Snapshoot Portfolio */

display: flex;
margin-right: 1em;
width: 55%;
height: 95%;
flex-direction: row-reverse;
margin-left: 25em;
}

.Multi-Pos {
  /* Project Title */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: start;
  margin-left: 2em;
}

.face-book{
/* Text */

display: flex;
flex-direction: row;
align-content: center;
text-align: center;

/* Caption / 1 - Bolder */

font-family: "Poppins", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
}

.full-stack{
/* Text */

position: static;
align-content: center;
text-align: center;
justify-content: center;
width: 90px;
height: 16px;
left: 0.3px;
top: 8px;

/* Caption / 1 - Bolder */

font-family: "Poppins", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;

/* identical to box height, or 123% 

/* Neutrals/N100 */

color: #7a869a;

/* Inside Auto Layout */

flex: none;
margin: 0.2px 0.2px;
}

.rub{
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 94px;
  height: 20px;
  left: 35px;
  top: 1px;
  padding-left: .5em;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
}

.rub:hover {
  color: blueviolet;
}

.see-proj1{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 145px;
  height: 40px;
  left: 7em;
  text-align: center;

  /* Primary/B400 */

  top: 105.5em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  list-style: none;
  color: #396df2;
}

.third-img {
  /* Snapshoot Portfolio */ /*

  position: static;
  width: 295px;
  height: 200px;
  left: 16px;
  top: 20px;
  background: url(snapshoot-3.png);
  border-radius: 8px;
}

.fourth-img {
  /* Snapshoot Portfolio */ /*

  position: static;
  width: 295px;
  height: 200px;
  left: 16px;
  top: 20px;
  background: url(snapshoot-4.png);
  border-radius: 8px;

  /* Inside Auto Layout */ /*
}

.about {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 2em;

  /* Neutrals/N0 */
/*
  background: #fff;
}

.media_div2 {
  display: flex;
  padding-top: 3em;
}

.media_u {
  display: flex;
  margin-left: 1px;
  list-style: none;
}

.twitter2 {
  display: flex;
  left: 6.4%;
  right: 100.27%;
  top: 90.81%;
  bottom: 18.88%;
}

/* Vector */ /*

.linked2 {
  display: flex;
  margin: 0.5px;
}

/* Vector */ /*

.medium2 {
  display: flex;
}

/* Vector */ /*

.github2 {
  display: flex;
}

/* Vector */ /*

.angellist2 {
  display: flex;
}

.flex-botu {
  background-color: white;
  position: static;
  width: 138px;
  height: 40px;
  left: 12px;
  top: 10px;
  font-size: 20px;

  /* Primary/B400 */ /*

  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */ /*

  flex: none;
  order: 3;
  flex-grow: 1;
  margin: 60px 20px;
  color: #396df2;
  list-style: none;
}

.flex-botu:hover {
  color: #7f8cff;
}

.border-lang {
  height: 2em;
  right: 78px;
  margin-left: 20px;

  /* Body / 1 - Bolder */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */ /*

  display: flex;
  align-items: center;
  color: #000;
  list-style: none;
}

.vector-1 {
  /* Vector */ /*
  position: absolute;
  margin-left: 7em;
  margin-top: 0.05px;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lang-img {
  /* Frame 9 */ /*

  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;

  /* Neutrals/N10 */ /*

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */ /*

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 2px;
  list-style: none;
}

.js-icon {
  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;

  /* Neutrals/N10 */ /*

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */
/*
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
}

.html-icon {
  /* Frame 10 */ /*

  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 90.72px;

  /* Neutrals/N10 */ /*

  background-color: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */ /*

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
}

.css-icon {
  /* Frame 11 */ /*

  position: static;
  display: flex;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 169.43px;

  /* Neutrals/N10 */ /*

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */
/*
  flex: none;
  order: 2;
  flex-grow: 1;
  margin: 12px 1px;
}

.fr-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 1em;
  list-style: none;
}

.border-frem {
  /* Frameworks */ /*

  display: flex;
  height: 24px;
  left: 12px;
  right: 78px;
  margin-top: 220px;

  /* Body / 1 - Bolder */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */ /*

  align-items: center;
  color: #000;
}

.border-skill {
  /* Skills */ /*

  display: flex;
  height: 24px;
  left: 12px;
  right: 78px;

  /* Body / 1 - Bolder */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */ /*

  align-items: center;
  color: #000;
}

.vector-2 {
  position: absolute;
  margin-left: 12em;
  margin-top: 1em;
}

.vector-3 {
  width: 15px;
  height: 15px;
  background: url(Vector3.png);
  position: absolute;
  margin-left: 12em;
  margin-top: 1em;
}

.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.see-proj1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 2.5em;

  /* Primary/B400 */
/*
  top: 129em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  list-style: none;
}

.see-pr1 {
  position: static;
  width: 100px;
  height: 24px;
  left: 12px;

  /* Button /Normal */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */ /*

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */ /*

  color: #396df2;
  list-style: none;
}

.see-pr1:hover {
  color: blueviolet;
}

.see-proj2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 2.5em;

  /* Primary/B400 */ /*

  top: 177em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  list-style: none;
}

.see-pr2 {
  position: static;
  width: 100px;
  height: 24px;
  left: 12px;

  /* Button /Normal */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */ /*

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */ /*

  color: #396df2;
  list-style: none;
}

.see-pr2:hover {
  color: blueviolet;
}

.see-proj3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 2.5em;

  /* Primary/B400 */ /*

  top: 227em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  list-style: none;
}

.see-pr3 {
  position: static;
  width: 100px;
  height: 24px;
  left: 12px;

  /* Button /Normal */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */ /*

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */
/*
  color: #396df2;
  list-style: none;
}

.see-pr3:hover {
  color: blueviolet;
}

.form-bui {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  width: 340px;
  height: 779px;
  left: 2em;
  top: 310em;

  /* Primary/B400 */ /*

  background: #6070ff;
  border-top-left-radius: 90px;
}

.my-contact {
  /* Primary Text */ /*

  display: flex;
  width: 300px;
  height: 150px;
  padding-top: 2em;

  /* Header / 2 */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
/*
  align-items: center;
  text-align: center;
  justify-content: center;

  /* Neutrals/N0 */ /*

  color: #fff;
}

.my_info {
  /* Primary Text */ /*

  display: flex;
  width: 300px;
  height: 779px;
  padding-top: 0.5em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  justify-content: center;

  /* or 140% */ /*

  text-align: center;

  /* Primary/B50 */ /*

  color: #ebebff;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

#name {
  position: absolute;
  display: flex;
  width: 23em;
  left: 16px;
  right: 20px;
  height: 40px;
  top: 25em;
  text-align: left;
  align-items: center;

  /* Mono/White */ /*

  background: #fff;

  /* Base/100 */
/*
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

#email {
  position: absolute;
  display: flex;
  width: 23em;
  left: 16px;
  right: 20px;
  height: 40px;
  top: 30em;
  text-align: left;
  align-items: center;

  /* Mono/White */ /*

  background: #fff;

  /* Base/100 */ /*

  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

textarea[name="message"] {
  /* Container */ /*

  position: absolute;
  margin: 8px 0;
  width: 20em;
  height: 160px;
  top: 31em;

  /* Mono/White */ /*

  background: #fff;

  /* Base/100 */ /*

  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#message-form {
  position: absolute;
  left: 16px;

  /* Input /Normal */ /*

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

/* Neutrals/N60 */
/*
  color: #b3bac5;
}

input[type="submit"] {
  /* Auto Layout */ /*

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 15px;
  top: 38.5em;
  list-style: none;
  color: #6070ff;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;

  /* Neutrals/N0 */ /*

  background: #fff;
  border-radius: 8px;
}

input[type="submit"]:hover {
  color: blueviolet;
}

.form-ico {
  display: flex;
  width: 375px;
  height: 1263px;
  left: 2em;

  /* Neutrals/N0 */ /*

  background: #fff;
}

.form3 {
  /* form3 */ /*

  background-image: url("form3.png");
  position: absolute;
  width: 65px;
  height: 70px;
  left: 330px;
  top: 312em;
}

.recform4 {
  /* Recform 4 */ /*

  position: absolute;
  width: 74.7px;
  height: 17.21px;
  left: 305px;
  top: 311.5em;

  /* Primary/B300 */ /*

  background: #7f8cff;
  transform: rotate(-23.18deg);
}

.form12 {
  /* form 12 */
/*
  position: absolute;
  width: 21px;
  height: 21px;
  left: 170px;
  top: 313em;
  background: #7f8cff;
}

.Recform7 {
  /* Recform 7 */ /*

  position: absolute;
  width: 76.17px;
  height: 13.63px;
  left: 258.8px;
  top: 351em;
  background: #7f8cff;
  transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
}

.form5 {
  /* form 5 */ /*

  position: absolute;
  width: 30.11px;
  height: 31.11px;
  left: 276.74px;
  top: 352em;
  background: #fff;
  transform: rotate(48.94deg);
}

.shape {
  /* Shape */ /*

  position: absolute;
  width: 134px;
  height: 5px;
  top: 358em;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;

  /* Mono/Black */ /*

  background: #0d151e;
  border-radius: 10px;
}

/* Small Screens */

@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}
